@charset "utf-8";



@font-face {
  font-family: 'SUITE';
  src: url('../font/SUITE/SUITE-Bold.woff2') format('woff2'),
      url('../font/SUITE/SUITE-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  src: url('../font/SUITE/SUITE-ExtraBold.woff2') format('woff2'),
      url('../font/SUITE/SUITE-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  src: url('../font/SUITE/SUITE-Heavy.woff2') format('woff2'),
      url('../font/SUITE/SUITE-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  src: url('../font/SUITE/SUITE-Light.woff2') format('woff2'),
      url('../font/SUITE/SUITE-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  src: url('../font/SUITE/SUITE-Regular.woff2') format('woff2'),
      url('../font/SUITE/SUITE-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  src: url('../font/SUITE/SUITE-Medium.woff2') format('woff2'),
      url('../font/SUITE/SUITE-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUITE';
  src: url('../font/SUITE/SUITE-SemiBold.woff2') format('woff2'),
      url('../font/SUITE/SUITE-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'paybooc';
  src: url('payboocLight.woff2') format('woff2'),
      url('payboocLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'paybooc';
  src: url('payboocOTFBold.woff2') format('woff2'),
      url('payboocOTFBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'paybooc';
  src: url('payboocOTFExtraBold.woff2') format('woff2'),
      url('payboocOTFExtraBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'paybooc';
  src: url('payboocOTFLight.woff2') format('woff2'),
      url('payboocOTFLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'paybooc';
  src: url('payboocOTFMedium.woff2') format('woff2'),
      url('payboocOTFMedium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

