@charset "utf-8";

:root {
  --main-color: #659933;
  --sub-color_y: #fcc766;
  --sub-color_b: #578cca;
  --main-font: "paybooc";
  --sub-font: "WavvePADO-Regular";
}

body {
  font-family: "SUITE";
  line-height: 1.5;
  font-weight: 400;
}

#wrap {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

/* 헤더영역 */
#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

/* #header::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
} */

#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;

}

#header h1 img {
  height: 44px;
  width: 190px;
}

#header .inner .gnb {
  display: flex;
  position: relative;
}

#header .inner .gnb>li {
  position: relative;
}

#header .inner .gnb>li>a {
  display: block;
  padding: 20px 48px;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

#header .inner .gnb>li .depth2 {
  position: absolute;
  text-align: center;
  /* display: none; */
}

#header .inner .gnb>li .depth2 li a {
  display: block;
  font-size: 1.4rem;
  padding: 10px 20px;
}

#header .depth2_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 50vh;
  background-color: #ffffff;
}

#header .inner .top_icon {
  display: flex;
  gap: 20px;
}

#header .inner .top_icon i {
  font-size: 2rem;
  color: #fff;
}

@media (max-width: 1140px) {
  #header {
    padding: 20px;
  }

  #header .inner .gnb {
    display: none;
  }
}

/* mgnb */

.mgnb_wrap {
  text-align: center;
  padding: 100px 5%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
}

.mgnb_wrap .mgnb {
  display: flex;
  flex-wrap: wrap;
}

.mgnb_wrap .mgnb>li {
  width: calc(100% / 4);
}

.mgnb_wrap .mgnb>li>a {
  color: #262424;
  font-size: 3rem;
  display: block;
  padding: 100px 0 30px;
  pointer-events: none;
  cursor: pointer;
}

.mgnb_wrap .mgnb>li>a::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: var(--main-color);
  opacity: 0.5;
  border-radius: 50%;
  margin: 5px auto;
}

.mgnb_wrap .mgnb>li .mdepth2 li a {
  color: #262424;
  opacity: 0.8;
  font-size: 2rem;
  display: block;
  padding: 5px 0;
  transition: all 0.1s;
}

.mgnb_wrap .mgnb>li .mdepth2 li a:hover {
  color: var(--main-color);
}

.mgnb_wrap .mgnb_close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background: #000;
  border: 0;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .mgnb_wrap .mgnb>li {
    width: calc(100% / 2);
  }
}

@media (max-width: 768px) {
  .mgnb_wrap .mgnb>li {
    width: 100%;
  }

  .mgnb_wrap .mgnb>li .mdepth2 {
    display: none;
  }

  .mgnb_wrap .mgnb>li>a {
    padding: 30px 0;
    font-size: 2rem;
  }

  .mgnb_wrap .mgnb>li .mdepth2 li a {
    font-size: 1.6rem;
  }
}

/* banner */
#banner .mb ul {
  padding-left: 0;
}

#banner .mb .mb01 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../img/main/main_visual01.jpg) no-repeat center / cover;
}

#banner .mb .mb02 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../img/main/main_visual03.jpg) no-repeat center / cover;
}

#banner .mb .mb03 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../img/main/main_visual02.jpg) no-repeat center / cover;
}

#banner .mb .mb04 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../img/main/main_visual04.jpg) no-repeat center / cover;
}

#banner .mb .mb_txt {
  padding-left: 120px;
}

#banner .mb .mb_txt span {
  display: block;
  font-size: 6rem;
  color: #fff;
  font-weight: 400;
  font-family: var(--main-font);
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

#banner .mb .mb_txt h3 {
  font-size: 10rem;
  font-weight: 600;
  color: #fff;
  font-family: var(--main-font);
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
}

#banner .mb .mb_txt p {
  color: #fff;
  font-size: 2.4rem;
  font-family: var(--main-font);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#banner .mb .mb_txt .date {
  display: flex;
  color: #fff;
  font-size: 2rem;
  gap: 20px;
  padding-top: 20px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#banner .swiper-pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1140px) {
  #banner .mb .mb_txt h3 {
    font-size: 6rem;
  }

  #banner .mb .mb_txt span {
    font-size: 4rem;
  }

  #banner .mb .mb_txt .date {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  #banner .mb .mb_txt h3 {
    font-size: 4rem;
  }

  #banner .mb .mb_txt span {
    font-size: 2rem;
  }

  #banner .mb .mb_txt p {
    font-size: 1.6rem;
  }

  #banner .mb .mb_txt .date {
    font-size: 1.6rem;
  }
}

/* 캘린더 */

#calendar_area .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

#calendar_area .c_content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
}

#calendar_area .c_title {
  text-align: center;
}

#calendar_area .c_title .num {
  font-size: 8rem;
  font-weight: 700;
}

#calendar_area .c_title .num_txt {
  font-size: 2.5rem;
}

#calendar_area .c_title .num_txt span {
  font-weight: 700;
}

#calendar_area .c_content ul li {
  font-size: 2rem;
  font-weight: 500;
}

#calendar_area .c_content ul .num_sat {
  color: #363eff;
}

#calendar_area .c_content ul .num_sun {
  color: #ff4141;
}

#calendar_area .calendar_more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 60px;
  border: 1px solid #c4c4c4;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 5px;
  padding-left: 10px;
}

#calendar_area .calendar_more i {
  font-size: 4.5rem;
  color: var(--main-color);
}

@media (max-width: 1140px) {
  #calendar_area .c_title .num {
    font-size: 5rem;
    font-weight: 500;
  }

  #calendar_area .calendar_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 60px;
    border: 1px solid #c4c4c4;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10px;
  }

  #calendar_area .c_title .num_txt {
    font-size: 2rem;
  }

  #calendar_area .c_content ul li {
    font-size: 1.6rem;
    font-weight: 500;
  }

  #calendar_area .c_content ul {
    gap: 25px;
  }
}

@media (max-width: 768px) {
  #calendar_area .calendar_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #c4c4c4;
    text-align: center;
    font-size: 0;
  }

}

/* 명소BEST 12 */

#best12 {
  width: 100%;
  height: 80%;
  text-align: center;
  background: #edf0e5;
  padding: 80px 0;
}

#best12 .sub_title h2 {
  color: var(--main-color);
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}

#best12 .sub_title p {
  font-size: 2.4rem;
  color: #737770;
}

#best12 .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  gap: 60px;
}

#best12 .swiper-wrapper .swiper-slide {
  position: relative;
  width: 377px;
  height: 266px;
}

#best12 .swiper-wrapper .swiper-slide img {
  border-radius: 0 55px 0 55px;
}

#best12 .swiper-wrapper .swiper-slide p {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  background: var(--main-color);
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 0 0 0 55px;
}

#best12 .btn_more {
  display: block;
  width: 167px;
  height: 57px;
  background: var(--main-color);
  border: 3px solid var(--main-color);
  color: #fff;
  font-size: 2.4rem;
  line-height: 57px;
  margin: 0 auto;
  border-radius: 50px;
  margin-top: 30px;
  transition: all 0.5s;
}

#best12 .btn_more:hover {
  background: #edf0e5;
  color: var(--main-color);
}

#best12 .swiper-slide.active {
  margin-top: 100px;
}

@media (max-width: 1140px) {
  #best12 {
    width: 100%;
    height: 80%;
    text-align: center;
    background: #fff;
    padding: 0 5%;
  }

  #best12 .sub_title h2 {
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  #best12 .sub_title p {
    font-size: 2rem;
    color: #737770;
  }

  #best12 .swiper-wrapper {
    padding: 30px 0;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  #best12 .swiper-slide.active {
    margin-top: 0;
  }

  #best12 .swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #best12 .swiper-wrapper .swiper-slide img {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  #best12 .swiper-wrapper .swiper-slide p {
    border-radius: 0;
  }
}

/* 바로가기 아이콘 */

#info_icon .inner {
  padding: 70px 0;
}

#info_icon .inner ul {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#info_icon .inner ul li .icon_box {
  width: 160px;
  height: 160px;
  background: #edfddd url(../img/main/coffee.png) no-repeat center;
  border-radius: 50%;
  transition: all 0.3s;
}

#info_icon .inner ul li:nth-child(2) .icon_box {
  background: #edfddd url(../img/main/mountain.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(3) .icon_box {
  background: #edfddd url(../img/main/box.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(4) .icon_box {
  background: #edfddd url(../img/main/local_library.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(5) .icon_box {
  background: #edfddd url(../img/main/directions.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(6) .icon_box {
  background: #edfddd url(../img/main/P.png) no-repeat center;
}

#info_icon .inner ul li p {
  padding: 15px 0;
  font-size: 2rem;
}

#info_icon .inner ul li .icon_box:hover {
  background: var(--main-color) url(../img/main/coffee_on.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(2):hover .icon_box {
  background: var(--main-color) url(../img/main/mountain_on.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(3):hover .icon_box {
  background: var(--main-color) url(../img/main/box_on.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(4):hover .icon_box {
  background: var(--main-color) url(../img/main/local_library_on.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(5):hover .icon_box {
  background: var(--main-color) url(../img/main/directions_on.png) no-repeat center;
}

#info_icon .inner ul li:nth-child(6):hover .icon_box {
  background: var(--main-color) url(../img/main/P_on.png) no-repeat center;
}

@media (max-width: 1140px) {
  #info_icon .inner ul li .icon_box {
    width: 120px;
    height: 120px;
  }

  #info_icon .inner ul li p {
    padding: 15px 0;
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  #info_icon .inner ul li .icon_box {
    width: 100px;
    height: 100px;
  }

  #info_icon .inner ul li p {
    padding: 15px 0;
    font-size: 1.6rem;
  }
}

/* 문화행사 안내 */

#culture_event .event_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

#culture_event h2 {
  font-size: 4.8rem;
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 40px;
}

#culture_event .info_txt {
  display: flex;
  padding: 10px 0;
}

#culture_event .info_txt .txt_left {
  padding: 4px 25px;
  background: var(--sub-color_y);
  color: #fff;
  font-size: 1.6rem;
}

#culture_event .info_txt .txt_right {
  padding: 3px 25px;
  border: 2px solid var(--sub-color_y);
  color: var(--sub-color_y);
  font-size: 1.6rem;
}

#culture_event p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

#culture_event .date {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ccc;
}

#culture_event li:nth-child(2) .info_txt .txt_left {
  padding: 4px 25px;
  background: var(--main-color);
  color: #fff;
  font-size: 1.6rem;
}

#culture_event li:nth-child(2) .info_txt .txt_right {
  padding: 3px 25px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 1.6rem;
}

#culture_event li:nth-child(3) .info_txt .txt_left {
  padding: 4px 25px;
  background: var(--sub-color_b);
  color: #fff;
  font-size: 1.6rem;
}

#culture_event li:nth-child(3) .info_txt .txt_right {
  padding: 3px 25px;
  border: 2px solid var(--sub-color_b);
  color: var(--sub-color_b);
  font-size: 1.6rem;
}

@media (max-width: 1140px) {
  #culture_event h2 {
    font-size: 3rem;
    text-align: center;
  }

  #culture_event .event_list li {
    width: 100%;
  }

  #culture_event li img {
    width: 100%;
  }

  #culture_event li {
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  #culture_event h2 {
    font-size: 2.8rem;
    padding: 0 130px;
  }

  #culture_event .event_list li {
    width: 100%;
  }

  #culture_event li img {
    width: 100%;
  }

  #culture_event li {
    padding: 0 5%;
  }
}

/* 공지사항 안내섹션 */
#board {
  width: 100%;
  height: 654px;
  background: #edfddd;
  margin-top: 70px;
}

#board .inner {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 0;
  gap: 26px;
}

#board .board_left {
  width: calc((100% - 26px) / 2);
  height: 598px;
  background: #fff;
  padding: 50px;
}

#board .board_left .tab_btn button {
  font-size: 2.4rem;
  font-weight: 600;
}

#board .board_left .tab_btn button.active {
  color: var(--main-color);
}

#board .board_left .tab_btn button::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #c4c4c4;
  margin-bottom: 50px;
}

#board .board_left .tab_con li {
  display: flex;
  display: block;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

#board .board_left .tab_con li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  position: absolute;
  bottom: 0;
  left: 0;
}

#board .board_left .tab_con p {
  font-size: 2rem;
  font-weight: 500;
}

#board .board_left .tab_con span {
  font-size: 1.6rem;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
}

#board .board_rigth {
  width: calc((100% - 26px) / 2);
}

#board .board_rigth .center a {
  width: 100%;
  height: calc((598px - 55px) / 3);
  background: var(--main-color);
  padding: 10px 0;
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}


#board .board_rigth .txt_left {
  color: #fff;
  padding: 50px 30px 50px 50px;
  font-size: 3rem;
  font-weight: 700;
}

#board .board_rigth .txt_right {
  color: #fff;
  font-size: 2rem;
  padding: 30px 0 30px 100px;
  position: relative;
}

#board .board_rigth .txt_right::before {
  content: "";
  display: block;
  width: 2px;
  height: 150px;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 50px;
}

#board .board_rigth .txt_right span {
  font-weight: 700;
  font-size: 3rem;
}

#board .board_rigth .coronation a {
  width: 700px;
  height: calc((598px - 55px) / 3);
  background: var(--sub-color_y);
  padding: 10px 0;
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#board .board_rigth .traffic a {
  width: 700px;
  height: calc((598px - 55px) / 3);
  background: var(--sub-color_b);
  padding: 10px 0;
  display: flex;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#board .board_rigth .traffic .txt_right {
  display: flex;
  gap: 50px;
  font-size: 3.5rem;
  position: relative;
  padding-top: 55px;
}

@media (max-width: 1140px) {
  #board .inner {
    flex-direction: column
  }

  #board {
    background: #fff;
    height: auto;
  }

  #board .tab_btn {
    display: flex;
    width: calc(100% / 2);
  }

  #board .board_left {
    width: 100%;
  }

  #board .board_rigth {
    display: flex;
    column-gap: 20px;
    width: 100%;
  }

  #board .board_rigth .txt_right {
    display: none
  }


}

@media (max-width: 768px) {
  #board .board_rigth {
    padding-right: 20px;
  }

  #board .board_rigth li {
    width: calc((100% - 40px) / 3);
  }

  #board .board_rigth .center a {
    width: 100%;
  }

  #board .board_rigth .coronation a {
    width: 100%;
  }

  #board .board_rigth .traffic a {
    width: 100%;
  }

  #board .board_rigth .traffic .txt_right {
    display: none;
  }

  #board .board_rigth .txt_left {
    font-size: 2rem;
  }

  #board .board_rigth .txt_left {
    color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }
}

/* footer */

#footer {
  width: 100%;
  height: 208px;
  background: #ececec;
}

#footer a {
  pointer-events: none;
}

#footer .inner {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  padding-top: 67px;
  position: relative;
}

#footer .inner img {
  width: 190px;
  height: 44px;
}

#footer .footer_info {
  font-size: 1.6rem;
  font-weight: 500;
}

#footer .footer_rink {
  display: flex;
  gap: 20px;
  opacity: 0.8;
}

#footer .footer_rink a {
  display: block;
  font-size: 1.6rem;
  margin-top: 40px;
}

#footer .footer_sns {
  display: flex;
  gap: 20px;
  font-size: 0;
  position: absolute;
  top: 30px;
  right: 0;
}

#footer .footer_sns .instargram {
  width: 40px;
  height: 40px;
  background: url(../img/main/footer_instargram.png) no-repeat center / cover;
}

#footer .footer_sns .facebook {
  width: 40px;
  height: 40px;
  background: url(../img/main/footer_facebook.png) no-repeat center;
}

#footer .footer_sns .twitter {
  width: 40px;
  height: 40px;
  background: url(../img/main/footer_tiwtter.png) no-repeat center;
}

#footer .notice{
  font-size: 11px;
  margin-top: 50px;
}

@media (max-width: 1140px) {
  #footer .footer_info {
    font-size: 1.4rem;
    font-weight: 500;
  }

  #footer {
    padding-top: 30px;
  }

  #footer .inner {
    padding: 0 5%;
  }



  #footer .footer_rink a {
    display: block;
    font-size: 1.6rem;
    margin-top: 20px;
  }

  #footer .footer_sns {
    display: none;
  }
}

@media (max-width: 768px) {

  #footer .footer_info {
    font-size: 1.6rem;
    font-weight: 500;
  }

  #footer a {
    pointer-events: initial;
  }
}